<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <style>
  body {
    background-color: red;
  }
h1 {color: green;}
    img {
          width: 270px;
        border: 5px solid orange;
  }
      table { 
            width: 570px;
               border: 7px solid black;}
   </style>
   </head>
  <title>My Favourite Singer!</title>
</head>
<link rel="icon" href="Bob.jpg" type="image/jpg">
<body>
  <h1>My favourite singer is Robert Nesta Marley aka Bob Marley!</h1>

  <p>
    Bob Marley was born on February 6 1945 in the Parish of St Ann Jamaica. </p>
  <p>He came into prominence during a time when
    the Rastafarian were facing </p>
  severe prosecutions from the police force yet he remains true to his teachings </p>
  <p> Bob Marley started his musical career in 1963 when a group of three friends started Bob Marley
    and Wailers</p>
  <p></p>
  Bob Marley recorded several hit songs and became even more
  <p> popular and a symbol for Rastafarian and marijuana smoking </p>
  <h2>Bob Marley music is inspirational</h2>
<table>
  <tr>
    <th> Number of Studio Album</th>
    <th>Number of Live Albums</th>
    <th> Number of Singles</th>
  </tr>
  <td> 13</td>
  <td>6</td>
  <td>133</td>
</table>
  <ul>
    <li>Bob empathizes with cultural and racial struggles</li>

    <li>He inspires one to live a life not just for themselves but also for others</li>


    <li>He motivates </li>
    <li>He promotes self awareness and livity</li>

  </ul>
  <p><b>I wanna Love You - Bob Marley </b></p>
  <video controls="controls" width="800" height="600" name="Bob Marley Love you" src="Bob Marley Love you.mov"></video>

  <p></p>
  <img src=" Bob.jpg" alt="Picture of Bob Marley">

  <p> Bob Marley </p>




  <br />

  <a href="https://www.youtube.com/watch?v=VoCy0gH9zY0/">Bob Marley's Exodus</a>
</body>

</html>